.tr-icon {
    display: inline-block;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon {
    margin-left: 6px;
}
.feature-box,
.feature-box-right {
    float: left;
}
.feature-box p {
    margin-bottom: 0;
}
.feature-box i {
    margin-bottom: 20px;
    display: inline-block;
    color: #1ca7ec;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.gradient.feature-box i {
    background: -webkit-linear-gradient(left, #1ca7ec 0%, #4b00e0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.corporate.feature-box i {
    color: #50c9c3;
}
.video.feature-box i {
    color: #56ab2f;
}
.agency.feature-box i {
    color: #f6cd61;
}
.studio.feature-box i {
    color: #7f00ff;
}
.parallax.feature-box i {
    color: #50c9c3;
}
.business.feature-box i {
    color: #50c9c3;
}
.creative.feature-box i {
    color: #50c9c3;
}
.digital.feature-box i {
    color: #50c9c3;
}
.crypto.feature-box i {
    color: #50c9c3;
}
.feature-box:hover i {
    color: #1d2124;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
}
.dark.feature-box:hover i {
    color: #fff;
}
.box-icon {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    background-color: #fff;
    padding: 40px 30px;
    -webkit-box-shadow: 0 7px 20px -10px rgba(171, 171, 171, 0.7);
    -moz-box-shadow: 0 7px 20px -10px rgba(171, 171, 171, 0.7);
    box-shadow: 0 7px 20px -10px rgba(171, 171, 171, 0.7);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.box-icon:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 10px 50px -12px rgba(171, 171, 171, 0.9);
    -moz-box-shadow: 0 10px 50px -12px rgba(171, 171, 171, 0.9);
    box-shadow: 0 10px 50px -12px rgba(171, 171, 171, 0.9);
}
.box-icon h6 {
    font-size: 13px;
}
.box-icon i {
    margin-bottom: 25px;
}
.white-bg-icon {
    background-color: #fff;
    border-color: #fff;
}
.white-bg-icon:hover {
    background-color: #1ca7ec;
    border-color: #1ca7ec;
    color: #fff !important;
}
.dark-bg-icon {
    background-color: #1d2124;
    border-color: #1d2124;
}
.dark-bg-icon:hover {
    background-color: #1ca7ec;
    border-color: #1ca7ec;
    color: #fff !important;
}
.border-bg-default-color {
    border: 2px solid #1d2124;
}
.border-bg-default-color:hover {
    background-color: #1ca7ec;
    border-color: #1ca7ec;
    color: #fff;
}
.default-bg-icon {
    background-color: #1ca7ec;
    display: inline-block !important;
    line-height: 100px !important;
    cursor: pointer;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.default-bg-icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ec77ab;
}
.default-bg-icon:hover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: -1;
}

.feature-box .pull-left {
    width: 15%;
}
.feature-box .pull-right {
    width: 80%;
}
.feature-box-right .pull-left {
    width: 80%;
}
.feature-box-right .pull-right {
    width: 15%;
}
.feature-box-big .pull-left {
    width: 20%;
}
.feature-box-big .pull-right {
    width: 80%;
}
.feature-box-rounded {
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 30px;
    -webkit-box-shadow: -1px 0px 43px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -1px 0px 43px 0px rgba(0, 0, 0, 0.14);
    box-shadow: -1px 0px 43px 0px rgba(0, 0, 0, 0.14);
}
.feature-box-default-bg {
    background-color: transparent;
    padding: 50px 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 4px;
}
.feature-box-default-bg:hover:after {
    visibility: visible;
    opacity: 1;
}
.feature-box-default-bg:hover.feature-box i,
.feature-box-default-bg:hover.feature-box p,
.feature-box-default-bg:hover.feature-box h4 {
    color: #fff;
    -webkit-text-fill-color: white;
}
.feature-box-default-bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    background: #1ca7ec;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.dark-box.feature-box-default-bg {
    border-bottom: 1px solid #1ca7ec;
    border-top: solid 1px #333;
    border-right: solid 1px #333;
    border-left: solid 1px #333;
}
.dark-box.feature-box-default-bg h4,
.dark-box.feature-box-default-bg p {
    color: #fff;
}
.light-border {
    border: solid 1px #eee;
}
.dark-border {
    border: solid 1px #313131;
}

.gradient.feature-box-default-bg {
    padding: 50px 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border: solid 1px #eee;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 4px;
    background-color: transparent;
}
.gradient.feature-box-default-bg:hover:after {
    visibility: visible;
    opacity: 1;
    background: rgba(28, 167, 236, 1);
    background: -moz-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28, 167, 236, 1)), color-stop(100%, rgba(75, 0, 224, 1)));
    background: -webkit-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: -o-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: -ms-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: linear-gradient(to right, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ca7ec', endColorstr='#4b00e0', GradientType=1 );
}

.circle-icon {
    position: relative;
    width: 85px;
    height: 85px;
    line-height: 85px !important;
    border-radius: 100%;
    text-align: center;
    display: inline-block !important;
}
.feature-box .fade-icon:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #1ca7ec;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
}
.fade-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.feature-box .fade-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.white-bg-icon {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}
.white-bg-icon:hover {
    background-color: #1ca7ec;
    border-color: #1ca7ec;
    color: #fff !important;
}

.icon-text.feature-box-2 {
    margin-left: 100px;
}
.icon-text.feature-box-2 .icon {
    background-color: #1ca7ec;
    padding: 20px;
    border-radius: 70px;
    display: inline-block;
    float: left;
    margin-left: -100px;
}
.gradient.icon-text.feature-box-2 .icon {
    background: rgba(28, 167, 236, 1);
    background: -moz-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28, 167, 236, 1)), color-stop(100%, rgba(75, 0, 224, 1)));
    background: -webkit-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: -o-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: -ms-linear-gradient(left, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    background: linear-gradient(to right, rgba(28, 167, 236, 1) 0%, rgba(75, 0, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ca7ec', endColorstr='#4b00e0', GradientType=1 );
}
.icon-text.feature-box-2 h3 {
    font-size: 18px;
    margin-top: 11px;
    margin-bottom: 7px;
}
.icon-text.feature-box-2 .dis {
    font-size: 14px;
    color: #848484;
}
