/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
    01. Navbar
    02. Slider
    03. Call To Action
    04. Previous Editions
    05. Videos
    06. Clients
    07. NextBattle & Footer
    08. Form
    09. Responsive
*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Archivo', sans-serif;
    height: 100%;
}

/*--------------------------------------------------
[1. Start Navbar]
--------------------------------------------------*/
.navbar {
    background: #272a41;
    background: linear-gradient(135deg, rgba(42, 36, 43, 0) 0%, rgba(42, 36, 43, 0) 100%);
    padding: 25px 0;
}

.navbar .container{
    min-width: 80%!important;
}

.navbar-brand .logo{
    width: 35%;
    height: 35%;
}

.navbar .nav-item {
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.navbar .nav-item .nav-link {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    position: relative;
  transition: all 0.5s ease-in-out;
}

/*effect-underline*/
.navbar .nav-item .nav-link:after {
	content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
}

.navbar .nav-item .nav-link:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.navbar .btn {
    text-decoration: none;
    background: #ffffff;
    color: #162137;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
}

.navbar .btn:hover {
    background: #AC161D;
    color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------
[2. Start Slider]
--------------------------------------------------*/
.slider {
    background-image: linear-gradient(143deg, rgba(172,22,29,1) 0%, rgba(21,32,54,1) 80%);
    height: 100vh;
}

.slider:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(143deg, rgba(172,22,29,1) 0%, rgba(21,32,54,1) 80%);
    mix-blend-mode: color;
    pointer-events: none;
}

.slider .video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@keyframes animate{
    0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
}
100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
}
}

.slider .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    margin-top: 20px;
}

.slider .content h1 .wc {
    margin: 0;
    padding: 0;
    width: 60%;
    height: 60%;
}

.slider .content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    margin: 0 0 25px;
}

.slider .btn {
    text-decoration: none;
    background: #ffffff;
    color: #162137;
    padding: 11px 27px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
}

.slider .btn:hover {
    background: #AC161D;;
    color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.slider .btn-2 {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-left: 5%;
    font-weight: 800;
}

.slider .btn-2:hover {
    background: #ffffff;
    color: #000;
}

/*--------------------------------------------------
[3. Start CTA]
--------------------------------------------------*/
.calltoaction {
    background-color: #444444;
    color: #FFFFFF;
    padding: 46px 0;
}
.calltoaction .container{
    margin: auto;
    max-width: 800px;
}
.calltoaction h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 0 26px;
}
.calltoaction .btn {
    text-decoration: none;
    background: #ffffff;
    color: #162137;
    padding: 10px 35px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
}

.calltoaction .btn:hover {
    background: #AC161D;;
    color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
/*--------------------------------------------------
[4. Start Previous Editions]
--------------------------------------------------*/
.previous-editions {
    background-color: #181818;
    color: #ffffff;
    padding: 20px 0;
}

.previous-editions .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 20px;

}

.previous-editions .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #ffffff;
    margin: 20px 0 60px;
    padding: 0;
}

.previous-editions h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.previous-editions p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 15px;
    padding: 0;
}

.previous-editions h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0;
}

.previous-editions h4 .icon {
    color: #F24259;
    margin-right: 10px;
}
/*--------------------------------------------------
[5. Start Video]
--------------------------------------------------*/
.video-area {
    background-color: #181818;
    padding: 10px 0;
    color: #ffffff;
}

.video-area h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

.video-area h2 span {
    color: #F24259;
}

.video-area img {
    width: 100%;
}

.video-area p {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 30px;
}

.video-area .btn {
    text-decoration: none;
    background: #F24259;
    color: #ffffff;
    padding: 10px 35px;
    border-radius: 35px;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.video-area .btn:hover {
    background: #ffffff;
    color: #212332;
}

.video-area .mission-section .section-title h1 .br, .american{
    width: 70%;
    height: 70%;
}

.video-area .video-icon {
    position: relative;
}

.video-icon .icon-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ADD */
.icon-text.feature-box-2 {
    margin-left: 100px;
}
.icon-text.feature-box-2 .icon i{
    padding: 15px 15px;
    box-shadow: 0 0 2px #888;
    font-size: 15px;
    display: inline-block;
    float: left;
    margin-left: -100px;
    margin-top: 1.5%;
    border-radius: 60px;
    border: #ffffff solid 0.5px;
    box-shadow: 0 0 2px #888;
}
.icon-text.feature-box-2 h3 {
    font-size: 18px;
    /* Descomentar para subtítulos */
    /* margin-top: 11px;
    */
    margin-bottom: 7px;

    /* Comentar para subtítulos */
    position: absolute!important;
    margin-top: 18px;
    margin-left: -28px;
    /* Final de comentario */
}
.icon-text.feature-box-2 .dis {
    font-size: 14px;
    color: #848484;
}
.mt-0{
    margin-top: 17px!important;
}

/* Second Video */
.video-area-2 p{
    text-align: right;
    padding-right: 0;
}

.video-area-2 #video2{
    margin-bottom: 40px;
}

.icon-text.feature-box-3 .icon i{
    padding: 15px 15px;
    box-shadow: 0 0 2px #888;
    font-size: 15px;
    display: inline-block;
    float: right;
    margin-top: 1.5%;
    margin-left: 25px;
    border-radius: 60px;
    border: #ffffff solid 0.5px;
    box-shadow: 0 0 2px #888;
}
.icon-text.feature-box-3 h3 {
    font-size: 18px;
    /* Descomentar para subtítulos */
    /* margin-top: 11px;
    */
    margin-bottom: 7px;
    float: right!important;
    text-align: right!important;

    /* Comentar para subtítulos */
    position: relative;
    margin-top: 18px;
    /* Final de comentario */
}
.icon-text.feature-box-3 .dis {
    font-size: 14px;
    color: #848484;
}


/* Video Icon */
.video-icon .icon {
    background: #181818;
    color: #fff;
    display: inline;
    font-size: 16px;
    padding: 22px 25px;
    border-radius: 200px;
    position: relative;
}

/* Pulse Animation */
.pulse {
    animation: pulse 1s infinite;
    animation-duration: 2s;
}

/* Keyframes */
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
/*--------------------------------------------------
[6. Start Clients]
--------------------------------------------------*/
.clients {
    background-color: #181818;
    background-size: cover;
    background-attachment: fixed;
    padding: 15px 0 0 0;
}
.clients .col-md-12{
    margin-top: 1%;
    margin-bottom: -3.5%;
}

/*--------------------------------------------------
[7. Start Next Battle]
--------------------------------------------------*/
.nextbattle {
    background: rgb(172,22,29);
    background: linear-gradient(143deg, rgba(172,22,29,1) 0%, rgba(21,32,54,1) 80%);
    color: #FFFFFF;
    padding: 30px 0;
}

.nextbattle .container{
    margin: auto;
    max-width: 800px;
}

.nextbattle h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 30px 26px;
}

.nextbattle .box-2{
    margin-top: 2.5%;
}

.nextbattle .btn {
    text-decoration: none;
    background: #ffffff;
    color: #162137;
    padding: 10px 35px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
    margin-top: 20%;
}

.nextbattle .btn:hover {
    background: #AC161D;;
    color: #ffffff;
    box-shadow: 0 100px 30px rgba(0, 0, 0, 0.1);
}

.nextbattle .copyright{
    margin-top: 3.5%;
    margin-bottom: -3%;
}

.nextbattle .copyright .logo {
    width: 10%;
    height: 10%;
    margin-left: 10px;
}

/*--------------------------------------------------
[8. Start Form Modal Styles]
--------------------------------------------------*/

.modal-content{
    background-color: #444444;
    color: #ffffff;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 15px;
}

.modal-header{
    border-bottom: 0px!important;
}

.modal-header h5{
    color: #ffffff;
}

.modal-header .close{
    color: #ffffff!important;
}

.close span {
    padding: 0 6px;
    visibility: hidden;
}

.modal-content .modal-body{
    color: #ffffff!important;
}

.modal-body form{
    color: #ffffff!important;
}

.modal-body form input[type="text"],input[type="email"],input[type="tel"],input[type="submit"]{
    height: 42px;
    width: 100%;
    border-radius: 6px;
    background: transparent;
    border: #ffffff 1px solid;
    color: #ffffff;
}

.modal-body form .input {
    margin-top: 5px;
    margin-bottom: 15px;
}

.modal-body form input[type="checkbox"]{
    margin-top: 5px;
}

.modal-body form .hs-dependent-field .input {
    margin-left: -40px;
    margin-bottom: -20px;
}

.modal-body form input[type="submit"]{
    position: relative;
    width: 115px;
    text-decoration: none;
    background: #ffffff;
    color: #162137;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
    text-align: center;
    margin-top: 5%;
}

.modal-body form .hs-button:hover {
    background: #AC161D;
    cursor: pointer;
    color: #ffffff;
    border: 0px;
    box-shadow: 0 100px 30px rgba(0, 0, 0, 0.1);
}

.modal-body form p{
    font-size: 10px;
}

.modal-body ul li{
    list-style: none;
}

.modal-body form .legal-consent-container .hs-richtext p{
    margin-bottom: -2px;
}


/*--------------------------------------------------
[9. Start Media Query]
--------------------------------------------------*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar {
        padding: 30px;
        /* background: #ffffff !important; */
    }

    .navbar-brand{
        margin: 0px 0px 0px 0px;
        padding: 3px 0px;
    }

    .navbar .logo{
        width: 60%;
        height: 60%;
        margin-left: 2px;
        margin-right: -150px;
        position: relative;
    }

    .navbar .nav-item {
        margin: 30px 0 0 30px;
    }

    .navbar .nav-item .nav-link {
        color: #555555;
    }

    .navbar-dark .navbar-toggler {
        color: #F24259 !important;
        border-color: #F24259;
        background: #F24259;
        border-radius: 5px;
        opacity: 1;
    }

    .navbar .btn {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .slider .content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-45%,-50%);
        color: #ffffff;
        margin-top: 20px;
    }
    .slider .content h1 .wc{
        width: 70%;
        height: 70%;
    }
    .slider .btn .btn-2{
        margin-top: 5%;
    }

    .calltoaction .btn{
        margin-top: -5%;
    }

    .previous-editions{
        margin-bottom: -30px;
    }

    .video-area, .video-area-2{
        text-align: center!important;
    }

    .mission-section{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mission-section .section-title h1 .br{
        width: 70%;
        height: 70%;
    }

    .mission-section .section-title h1 .american{
        width: 70%;
        height: 70%;
    }

    /* .clients .asrs{
        margin-bottom: 10px;
    } */

    .mission-section .section-title h1 {
        margin-top: 20%;
    }

    .clients .asrs{
        width: 100%;
        height: 90%;
        margin:3% 0px 35% 0px;
    }

    .nextbattle .btn{
        margin-top: 0px!important;
        margin-bottom: 8%;
    }

    .nextbattle .copyright .logo{
        width: 15%;
        height: 15%;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .logo{
        width: 30%;
        height: 30%;
        margin-left: 5px;
    }
    .navbar {
        padding: 30px;
        /* background: #ffffff !important; */
    }

    .navbar .nav-item {
        margin: 30px 0 0 30px;
    }

    .navbar .nav-item .nav-link {
        color: #ffffff;
    }

    .navbar-dark .navbar-toggler {
        color: #F24259 !important;
        border-color: #F24259;
        background: #F24259;
        border-radius: 5px;
        opacity: 1;
    }

    .navbar .btn {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .slider .content {
        position: absolute;
        top: 55%;
        left: 45%;
        transform: translate(-45%,-50%);
        color: #ffffff;
        margin-top: 20px;
    }

    .slider .content h1 {
        margin: 0;
        padding: 0;
        font-size: 60px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .icon-text.feature-box-2 h3 {
        margin-left: -35px;
    }

    .slider .btn2{
        margin-top: 5%;
    }

    .calltoaction .btn{
        margin-top: 5%;
    }

    /* Second Video */
    .video-area-2 p{
        text-align: center;
        padding-right: 0;
    }

    .video-area-2 h1{
        display:block;
        justify-content: center!important;
    }

    .icon-text.feature-box-3 .icon i{
        float: left;
        margin-left: 0px;
    }
    .icon-text.feature-box-3 h3 {
        /* Descomentar para subtítulos */
        /* margin-top: 11px;
        */
        margin-left: 65px;
        margin-bottom: 7px;
        float: left!important;
        text-align: left!important;

        /* Comentar para subtítulos */
        position: absolute!important;
        margin-top: 18px;
        /* Final de comentario */
    }
    .icon-text.feature-box-3 .dis {
        font-size: 14px;
        color: #848484;
    }

    .contact .content .info {
        margin-bottom: 30px;
    }
    .content .btn{
        margin: 5px;
    }

    .nextbattle h3{
        min-width: 280px;
    }

    .nextbattle .btn{
        margin-top: 0px;
        margin-bottom: 8%;
    }

    .nextbattle .copyright .logo{
        width: 10%;
        height: 10%;
    }

    .close span {
        visibility:visible;
        color: #ffffff!important;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .navbar {
        padding: 30px;
        /* background: linear-gradient(143deg, rgba(172,22,29,1) 0%, rgba(21,32,54,1) 80%) !important; */
    }

    .navbar .nav-item {
        margin: 30px 0 0 30px;
    }

    .navbar .nav-item .nav-link {
        color: #ffffff;
    }

    .navbar-dark .navbar-toggler {
        color: #ffff !important;
        border-color: #ffff;
        background: #ffff;
        border-radius: 5px;
        opacity: 1;
        margin-right: 1%;
    }

    .navbar .btn {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .slider .content {
        position: absolute;
        /* TEXTO SE PEGA A LA DERECHA */
        /* top: 55%;
        left: 50%; */
        width: 80%;
        /* transform: translate(-45%,-50%); */
        color: #ffffff;
        margin-top: 20px;
    }
    .calltoaction .btn-2 {
        padding: 10px 8px;
    }

    .nextbattle .btn{
        margin-bottom: 8%;
    }

    .nextbattle .copyright .logo{
        width: 8%;
        height: 8%;
    }
    .close span {
        visibility:visible;
        color: #ffffff!important;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .nextbattle .copyright .logo{
        width: 10%;
        height: 10%;
    }
    }
